* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background: black;
}

h1 {
    margin: 0;
}

button {
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: #bbb;
}

canvas {
    width: 1024px;
    height: 576px;
    background: white;
}